em {
    text-decoration:none;
    font-style: normal;
    font-weight:bold;
    float:right;
    padding-left: 1em;
}

.main-content li strong:nth-of-type(1) {
    color: #959396;
    font-size: 14px;
    font-weight: normal;
}

.main-content li::before {
    content: "" !important;
}

.main-content li {
    margin-left: -1.4em;
}
.main-content li > ul > li {
    margin-left: 0em;
}